/*Pulsante*/*{
	--pulsante-zindex: 9999;
	--pulsante-height:calc(var(--c-h) * 0.8 / 10); /*altezza pulsante*/
	--pulsante-width: var(--pulsante-height); /*larghezza pulsante button*/
	--pulsante-font-size:calc(var(--pulsante-height) / 3);
	--pulsante-shadow-blur:calc(var(--pulsante-height) / 3);
	--pulsante-shadow-spread: calc(var(--pulsante-shadow-blur) / 2.5);
}

@media screen and (orientation:landscape) {
	/*Pulsante*/*{
		--pulsante-height:calc(var(--alto-h)*88 / 100);
	}
}

/* COMPONENTI */

#pannello{
	border-radius: var(--border-w);
	background-color: var(--darker-accent-color);
	color: var(--main-bg-color);
	cursor: pointer;
	font-size: var(--alto-font-size);
	vertical-align: middle;
}

#pannello *{
	margin-top: calc(var(--alto-h)*12/100);
}

#pulsante{
	position: fixed;
	margin-left: calc(var(--alto-w) - var(--pulsante-width) - var(--margin-w));
	height: var(--alto-h);
}

#pulsante>img{
	background-color: var(--darker-accent-color);
	border-radius: var(--pulsante-width);
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	box-shadow: 0px 0px var(--pulsante-shadow-blur) var(--pulsante-shadow-spread) var(--lighter-accent-color) inset;
	font-weight: bold;
	font-size: var(--pulsante-font-size); 
	height: var(--pulsante-height);
	right: 0 !important;
	top:0;
	transition: all 0.3s linear;
	width: var(--pulsante-width);
	z-index: var(--pulsante-zindex);
}

#pulsante>img:active{
	box-shadow: none;
	background-color: var(--lighter-accent-color);
}



@media screen and (orientation:landscape) and (height>400px) {
	#pulsante, #pulsante>img{
		display: none;
	}
}



@media screen and (orientation:portrait), screen and (orientation:landscape) and (height<=400px) {
	#pannello{
		display: none;
	}
}