/*Pulsante*/*{
	--pulsante-zindex: 9999;
	--pulsante-height:calc(var(--alto-h)); /*altezza pulsante*/
	--pulsante-width: var(--pulsante-height); /*larghezza pulsante button*/
	--pulsante-font-size:calc(var(--pulsante-height) / 3);
	--pulsante-shadow-blur:calc(var(--pulsante-height) / 3);
	--pulsante-shadow-spread: calc(var(--pulsante-shadow-blur) / 2.5);
	--pulsante-l-padding: calc(var(--pulsante-width)*28/100) ;
	--pulsante-t-padding: calc(var(--pulsante-height)*10/100) ;
}



/* COMPONENTI */

/* Pannello */
#pannello{
	border-radius: var(--border-w);
	background-color: var(--darker-accent-color);
	color: var(--main-bg-color);
	cursor: pointer;
	font-size: var(--alto-font-size);
	vertical-align: middle;
}

#pannello *{
	margin-top: calc(var(--alto-h)*12/100);
}

/* Hamburger */

#pulsante{
	position: fixed;
	height: var(--alto-h);
	background-color: var(--darker-accent-color);
	border-radius: var(--pulsante-width);
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	box-shadow: 0px 0px var(--pulsante-shadow-blur) var(--pulsante-shadow-spread) var(--lighter-accent-color) inset;
	font-weight: bold;
	font-size: var(--pulsante-font-size); 
	height: var(--pulsante-height);
	right: 0 !important;
	top:0;
	transition: all 0.3s linear;
	width: var(--pulsante-width);
	z-index: var(--pulsante-zindex);
}

#pulsante:active{
	box-shadow: none;
	background-color: var(--lighter-accent-color);
}

/* Indietro */

#indietro{
	position: fixed;
	background-color: var(--darker-accent-color);
	border-radius: var(--pulsante-width);
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	box-shadow: 0px 0px var(--pulsante-shadow-blur) var(--pulsante-shadow-spread) var(--lighter-accent-color) inset;
	font-weight: bold;
	font-size: var(--pulsante-font-size); 
	height: var(--pulsante-height);
	top:0;
	transition: all 0.3s linear;
	width: var(--pulsante-width);
	padding-left: var(--pulsante-l-padding);
	padding-top: var(--pulsante-t-padding);
	z-index: var(--pulsante-zindex);
}

#indietro:active{
	box-shadow: none;
	background-color: var(--lighter-accent-color);
}

/* MEDIA ADJUSTMENT */

@media screen and (orientation:landscape) and (height>400px) {
	#pulsante, #indietro{
		display: none;
	}
}

@media screen and (orientation:portrait), screen and (orientation:landscape) and (height<=400px) {
	#pannello{
		display: none;
	}
}