<div class="p-1" id="pannello">
	<div class="fa fa-book" id="logo" routerLink="/">
		<span>Ricette</span>
	</div>
	<div class="pe-2">

	</div>
	<ul class="list-group-horizontal">
		<li class="list-group-item-text me-3" *ngFor="let tab of tabs" [routerLink]="tab.link" routerLinkActive="text-blur">
			{{tab.name}}
		</li>
	</ul>
</div>

<img class="p-1" id="pulsante"
	src="assets/hamburger_close.png" 
	alt="hamburger_close"
	(click)="apriMenu()"
>

<div id="menuMobile">
		<ul class="list-group">
			
			<li class="list-group-item" *ngFor="let tab of tabs" [routerLink]="tab.link" routerLinkActive="text-blur-more text-secondary" (click)="apriMenu()">
				{{tab.name}}
			</li>
		</ul>
</div>

<div id="indietro" (click)="indietro()">
	<span class="fa fa-2x fa-angle-left" (click)="indietro()"></span>
</div>
