<div class="container" id="dettaglioRicetta">
	
	<h1 class="row">{{recipe.name}}</h1>
	
	
	<figure class="figure row">
		<img [src]="recipe.imgPath" class="figure-img img-fluid rounded" alt="{{recipe.name}}">
		<figcaption class="figure-caption">{{recipe.description}}</figcaption>
	</figure>

	<hr>

	<div class="lista_ingredienti row">
		<ul class="list-group">
			<li
				class="list-group-item d-flex justify-content-between align-items-start col-11 offset-1"
				*ngFor="let ingredient of recipe.ingredients"
			>
				{{ingredient.name}}
				<span class="badge qta">{{ingredient.qta}}</span>
			</li>
		</ul>
	</div>
	<div class="row p-3">
	</div>

	<div class="row">
		<div class="btn-group-vertical col-12 col-md-4" [style]="hiddenMenu()">
		  <button type="button" class="mt-2 btn btn-outline-primary dropup-item" (click)="addToShoppingList()">Aggiungi ingredienti alla lista shopping</button>
		  <button type="button" class="m-0 btn btn-outline-primary dropup-item" (click)="goToEdit()">Modifica</button>
		  <button type="button" class="mb-2 btn btn-danger" (click)="cancella()">Cancella</button>
		</div>
	</div>

	<div class="row p-3" [ngClass]="{'dropup':toggle, 'dropdown':!toggle}">
		<button class="btn dropdown-toggle text-blur-more col-12 col-md-5" type="button" id="pulsanteGestione" data-bs-toggle="dropdown" aria-expanded="false" (click)="toggleScroll()" >
			Azioni Ricetta
		</button>
	  </div>
</div>
<br>