li:hover#iname{
	background-color: var(--lighter-accent-color);
}

span#qta{
	color: var(--main-bg-color);
	background-color: var(--unactive-color);
}

.lista-ingredienti{
	--last-element : 5vh;
	height: var(--center-lista-i-h);
	width : var(--center-lista-i-w);
	overflow-y: scroll;

	padding-bottom: var(--last-element);
}
