<div class="container overflow-auto" id="modificaRicetta">
	
	<!-- INIZIO TITOLO -->
	<div class="row" *ngIf="newRecipe; else staticName">
		<div class="col-2 text-blur-more position-relative">
			<label class="position-absolute top-50 start-50 translate-middle" for="recipeName">
				Name:
			</label>
		</div>
		<div class="col-8 p-3">
			<input class="form-control" type="text" id="recipeName" [defaultValue]="" [(ngModel)]="recipe.name">
		</div>
	</div>
	<ng-template #staticName>
		<h2 class="row">{{recipe.name}}</h2>
	</ng-template>
	<!-- FINE TITOLO -->

	<!-- SEPARATORE nome-img-->
	<div class="row m-1">
	</div>
	<!-- SEPARATORE nome-img-->

	<!-- INIZIO IMGPATH -->
	<div class="row">
		<figure *ngIf="hasImg();else emptyImg" class="figure col-12">
			<img [src]="this.recipe.imgPath" class="figure-img img-fluid rounded" alt="recipe.name" (click)="changeImage()">
		</figure>
	
		<ng-template #emptyImg>
			<button class="btn btn-info" (click)="changeImage()">
				<i class="fa fa-file-image-o" aria-hidden="true">
				</i>
			</button>
		</ng-template>
	</div>
	<!-- FINE IMGPATH -->

	<!-- SEPARATORE nome-img-->
	<div class="row">
	</div>
	<!-- SEPARATORE nome-img-->
	
	<!-- INIZIO DESCRIZIONE-->
	<div class="row p-2">
		<small class="text-blur" for="descrizione" id="ldescrizione">
			Descrizione Ricetta
		</small>
		<textarea class="form-control" [(ngModel)]="recipe.description" 
		id="descrizione"></textarea>
	</div>
	<!-- FINE DESCRIZIONE-->

	<!-- SEPARATORE descrizione-lista -->
	<div class="row p-3">
		<hr>
	</div>
	<!-- SEPARATORE descrizione-lista -->

	<!-- INIZIO LISTA INGREDIENTI -->
	<div class="row" *ngFor="let ingredient of this.recipe.ingredients; let indice=index; trackBy: trackByFn;">
		<div class="col-7 p-2">
			<input class="form-control" type="text"  [defaultValue]="ingredient.name" (input)='cambia($event,indice,"name")'>
		</div>
		
		<div class="col-3 p-2">
			<input class="form-control" type="number"  value="{{ingredient.qta}}" (input)='cambia($event,indice,"qta")'>
		</div>
		<div class="col-2 p-2">
			<button class="btn btn-danger" (click)="removeIngredient(indice)">
				<span class="fa fa-minus-circle" aria-hidden="true"></span>
			</button>
		</div>
	</div>
	<!-- FINE LISTA INGREDIENTI -->

	<!-- -->
	<div class="row">
		<div class="col-4 offset-8 p-2">
			<button class="btn fa fa-plus" id="adding"
				(click)="addIngredient()"></button>
		</div>
	</div>
	<!-- -->

	<!-- -->
	<div class="row p-3">
		<hr>
	</div>
	<!-- -->

	<!-- -->
	<div class="row pb-2">
		<div class="col-3">
			<button class="btn btn-success" (click)="salvaModifiche()" [disabled]="!valid">Salva</button>
		</div>
		<div class="col-3">
			<button class="btn btn-danger" (click)="annullaModifiche()">Annulla</button>
		</div>
	</div>
	<!-- -->

</div>