/* --  MOBILE -- */
@media screen and (orientation: portrait) {
	*{
		/* -- WIDTH -- */
		--add-i-inputs-w      : calc(var(--center-add-i-w) * 95 / 100);
		--add-i-pulsanti-md-w : calc(var(--center-add-i-w) * 45 / 100);
		--add-i-pulsanti-lg-w : calc(var(--center-add-i-w) * 95 / 100);

		/* -- LEFT --*/
		--add-i-inputs-left      : calc((var(--center-add-i-w) - var(--add-i-inputs-w))/2 - var(--margin-w) - var(--margin-w));
		--add-i-pulsanti-md-left : var(--add-i-pulsanti-lg-left);
		--add-i-pulsanti-lg-left : calc((var(--center-add-i-w) - var(--add-i-pulsanti-lg-w))/2 - var(--margin-w) - var(--margin-w));
		
	}
}
/* -- DESKTOP -- */
@media screen and (orientation: landscape) {
	*{
		/* -- WIDTH -- */
		--add-i-inputs-w      : calc(var(--center-add-i-w) * 40 / 100);
		--add-i-pulsanti-md-w : calc(var(--center-add-i-w) * 25 / 100);
		--add-i-pulsanti-lg-w : calc(var(--center-add-i-w) * 25 / 100);

		/* -- LEFT --*/
		--add-i-inputs-left      : calc((var(--center-add-i-w) - var(--add-i-inputs-w))/2 - var(--margin-w) - var(--margin-w));
		--add-i-pulsanti-md-left : calc(var(--center-add-i-w) * 25 / 100);
		--add-i-pulsanti-lg-left : calc(var(--center-add-i-w) * 25 / 100);
		
	}
}


.campiInput{
	width       : var(--add-i-inputs-w);
	margin-left : var(--add-i-inputs-left);

	display: inline-block;
}

.pulsanti-medi{
	width      : var(--add-i-pulsanti-md-w   );
	margin-left: var(--add-i-pulsanti-md-left);

	display: inline-block;
}

.pulsanti-larghi{
	width      : var(--add-i-pulsanti-lg-w   );
	margin-left: var(--add-i-pulsanti-lg-left);

	display: block;
}