<div class="p-2 campiInputText">
	<input 
		type="text" 
		class="form-control" 
		name="" 
		id="" 
		aria-describedby="labelname" 
		[(ngModel)]="ingredient.name"
		[disabled]="editMode()"
	>
	<small id="labelname" class="form-text text-blur">Name</small>
</div>

<div class="p-2 campiInputNumb">
	<input
		type="number"
		class="form-control"
		name=""
		id=""
		aria-describedby="labelqta"
		min="1"
		max="99"
		[(ngModel)]="ingredient.qta"
	>
	<small id="labelqta" class="form-text text-blur">Qta</small>
</div>

<div class="p-2" [ngClass]="editMode()?'pulsanti-medi':'pulsanti-larghi'">
	<button class="btn btn-secondary" (click)="pulisci()">
		Pulisci
	</button>
</div>
<div *ngIf="editMode()" class="p-2 pulsanti-medi">
	<button class="btn btn-danger" (click)="cancella()">
		Cancella
	</button>
</div>
<div class="p-2 pulsanti-larghi">
	<button class="btn btn-success" (click)="salva()">
		{{editMode()?"Modifica":"Salva"}}
	</button>
</div>