<!-- <h1>ALERT MODALE CUSTOM</h1>

<p>Test per modale custom</p>

<button class="btn btn-primary" (click)="open()">
	open modal
</button> -->

<div id="myModal" class="modal" *ngIf="!closed">
	<div class="modal-content" [ngStyle]="classBasedType()">
		<h3>
			{{titolo|titlecase}}
			<span class="close" [ngStyle]="classBasedType()"  (click)="close()" (mouseenter)="shadowX($event)" (mouseleave)="shadowX($event)">
				<span>
					&times;
				</span>
			</span>
		</h3>
		<hr>
		<p class="text-muted">{{message||"ciao"}}</p>
		<!-- <hr>
		<button class="btn btn-success" (click)="setType('SUCCESS')">
			changeSuccess
		</button> 
		<button class="btn btn-danger" (click)="setType('ALERT')">
			changeDanger
		</button> 
		<button class="btn btn-warning" (click)="setType('WARNING')">
			changeWarning
		</button>
		<button class="btn btn-light" (click)="setType('')">
			changeNormal
		</button>
		<button class="btn btn-dark" (click)="setType('DARK')">
			changeDark
		</button> -->
	</div>
</div>

