td{
	padding: 0 !important ;
	margin: 0 !important;
}

ul>li>*:hover{
	background-color: lightgray;
}

ul>li>*{
	background-color: transparent;
	outline: none;
	border: none;
	width: 100%;
	text-align: left;
	padding: 5%;
}