<div class="row">
	<div class="col-xs-12">
		<form>
			<div class="row">
				<div class="col-sm-5 form-group">
					<label for="name">Name</label>
					<input type="text" id="name" class="form-control" name="inputName" [(ngModel)]="inputName" />
				</div>
				<div class="col-sm-2 form-group">
					<label for="qta">Quantity</label>
					<input type="number" id="amount" class="form-control" name="inputQta" [(ngModel)]="inputQta" [ngStyle]="errorQta()"/>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<button [disabled]="disabledAdd()" (click)="onAddClick()" class="btn btn-success" type="submit">Add</button>
					<button [disabled]="true" class="btn btn-danger col-xs-offset-1" type="button">Delete</button>
					<button [disabled]="disabledClear()" (click)="onClearClick()" class="btn btn-primary col-xs-offset-1" type="button">Clear</button>
				</div>
			</div>
		</form>
	</div>
</div>